@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Velkommen til Cibrary</h2>
<p>Cibrary er et digitalt biblioteksystem hvor du kan låne, levere og registrere bøker i Ciber sitt bibliotek. Have fun!</p>


<div><a href="/Book/Add">Legge til ny bok</a></div>
<div><a href="/Book/Borrow">Låne bok</a></div>
<div><a href="/Book/ReturnBook">Levere bok</a></div>