@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Velkommen til Cibrary</h2>
<p>Cibrary er et digitalt biblioteksystem hvor du kan låne, levere og registrere bøker i Ciber sitt bibliotek. Have fun!</p>

<a href="/Book/Add" class="btn btn-default">Legge til ny bok</a>
<a href="/Book/Edit" class="btn btn-default">Rediger bokinformasjon</a>
<a href="/Book/Borrow" class="btn btn-default">Låne bok</a>
<a href="/Book/ReturnBook" class="btn btn-default">Levere bok</a>



